<div id="customer">
  <h2><%= customer.fullName %></h2>
  <%= image_tag"#{customer.image}" %>
  <h4><%= customer.phone %></h4>
  <h4><%= customer.email %></h4>
  <h4><%= customer.notes %></h4>
</div>
